<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="/CSS/info_card.css" />
  </head>
  <body>
    <!-- Background -->
    <div class="background">
      <!-- Main Section -->
      <div class="main-section">
        <!-- Card Image -->
        <div class="card-image"></div>
        <!-- Heading -->
        <div class="Heading"></div>
        <!-- Description -->
        <div class="Description"></div>
        <!-- See More Button -->
        <div class="Expand-Button"></div>
      </div>
    </div>
  </body>
</html>
